@model OMP.Common.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section Head {
    @*@Html.StyleBundle("Pages/Dashboard")
    @Html.ScriptBundle("Pages/Dashboard")*@
    

}

@section ContentHeader {
    <h1>@LocalText.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription)</small></h1>
}
<script>

    $(function() {

        "use strict";


        //Make the dashboard widgets sortable Using jquery UI
        $(".task-statuses-box").sortable({
            placeholder: "sort-highlight",
            connectWith: ".task-statuses-box",
            handle: ".small-box",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $(".offer-statuses-box").sortable({
            placeholder: "sort-highlight",
            connectWith: ".offer-statuses-box",
            handle: ".small-box",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $(".software-frameworks-box").sortable({
            placeholder: "sort-highlight",
            connectWith: ".software-frameworks-box",
            handle: ".small-box",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $(".sortable").sortable({
            placeholder: "sort-highlight",
            connectWith: ".sortable",
            handle: ".box-header, .nav-tabs",
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $(".sortable .box-header, .sortable .nav-tabs-custom, .sortable .small-box").css("cursor", "move");
    });
</script>
@{
    var defaultSmallBoxSize = "col-lg-2 col-xs-6";
}
<!-- Small boxes (Stat box) -->
<div class="row">
    <section class="col-lg-12 sortable">

        <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
                <i class="fa fa-comments-o"></i>
                <h3 class="box-title">@Serenity.LocalText.TryGet("Db.Offers.OfferStatuses.EntityPlural")</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group" style="color: white">
                        <button type="button" class="btn btn-default btn-sm active" onclick="location.href='Offers/OfferStatuses#new'"><i class="fa fa-plus text-green"></i> 
                        @string.Format(Serenity.LocalText.TryGet("Controls.EntityDialog.NewRecordTitle")
                            , Serenity.LocalText.TryGet("Db.Offers.OfferStatuses.EntitySingular"))
                            </button>
                    </div>
                </div>
            </div>
            <div class="box-body offer-statuses-box">
                @foreach (var offerStatus in Model.OfferStatuses)
                {
                    <div class="@defaultSmallBoxSize">
                        <!-- small box -->
                        <div class="small-box" style="background-color: @offerStatus.BackgroundColor; border: 2px solid @offerStatus.BorderColor; color: white">
                            <div class="inner">
                                <h3>
                                    @Model.Offers.Count(of => of.OfferStatusId == offerStatus.OfferStatusId)
                                </h3>
                                <p>
                                    @offerStatus.Name
                                </p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="~/Offers/Offers?OfferStatusId=@offerStatus.OfferStatusId" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                }
            </div><!-- /.box-body -->
            @*<div class="box-footer clearfix no-border">
                    <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
                </div>*@
        </div><!-- /.box -->


    </section>

    <section class="col-lg-12 sortable">

        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
                <i class="fa fa-comments-o"></i>
                <h3 class="box-title">@Serenity.LocalText.TryGet("Db.Offers.SoftwareFrameworks.EntityPlural")</h3>
                
                <div class="box-tools pull-right">
                    <div class="btn-group" style="color: white">
                        <button type="button" class="btn btn-default btn-sm active" onclick="location.href='Offers/SoftwareFrameworks#new'"><i class="fa fa-plus text-green"></i> 
                            @string.Format(Serenity.LocalText.TryGet("Controls.EntityDialog.NewRecordTitle")
                                , Serenity.LocalText.TryGet("Db.Offers.SoftwareFrameworks.EntitySingular"))
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body software-frameworks-box">
                @foreach (var softwareFrameworks in Model.SoftwareFrameworks)
                {
                    <div class="@defaultSmallBoxSize">
                        <!-- small box -->
                        <div class="small-box" style="background-color: @softwareFrameworks.BackgroundColor; border: 2px solid @softwareFrameworks.BorderColor; color: white">
                            <div class="inner">
                                <h3>
                                    @Model.Offers.Count(of => of.SoftwareFrameworkId == softwareFrameworks.SoftwareFrameworkId)
                                </h3>
                                <p>
                                    @softwareFrameworks.Name
                                </p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="~/Offers/Offers?SoftwareFrameworkId=@softwareFrameworks.SoftwareFrameworkId" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                }
            </div><!-- /.box-body -->
            @*<div class="box-footer clearfix no-border">
                    <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
                </div>*@
        </div><!-- /.box -->


    </section>


    <section class="col-lg-12 sortable">

        <div class="box box-solid bg-blue-gradient" >
            <div class="box-header">
                <i class="fa fa-comments-o"></i>
                <h3 class="box-title">@Serenity.LocalText.TryGet("Db.Offers.TaskStatuses.EntityPlural")</h3>
            </div>
            <div class="box-body task-statuses-box">
                @foreach (var taskStatus in Model.TaskStatuses)
                {
                    <div class="@defaultSmallBoxSize">
                        <!-- small box -->
                        <div class="small-box" style="background-color: @taskStatus.BackgroundColor; border: 2px solid @taskStatus.BorderColor; color: white">
                            <div class="inner">
                                <h3>
                                   @Model.OfferCategoryTasks.Count(of => of.TaskStatusId == taskStatus.TaskStatusId)
                                </h3>
                                <p>
                                    @taskStatus.Name
                                </p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="~/Offers/Offers?TaskStatusId=@taskStatus.TaskStatusId" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                }
                <div class="@defaultSmallBoxSize">
                    <!-- small box -->
                    <div class="small-box bg-gray" style="color: white">
                        <div class="inner">
                            <h3>
                                @Model.OfferCategoryTasks.Count(of => of.TaskStatusId == null)
                            </h3>
                            <p>
                                Without Task Status
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div><!-- /.box-body -->
            @*<div class="box-footer clearfix no-border">
                    <button class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
                </div>*@
        </div><!-- /.box -->


    </section>
</div><!-- /.row -->





