@{
    ViewData["Title"] = "Login";
    ViewData["PageId"] = "Login";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
    var registrationDisabled = Config.Get<EnvironmentSettings>().RegistrationDisabled;
}

@section Head {
    @Html.Script("~/Scripts/vegas/vegas.js")
    @Html.Stylesheet("~/Scripts/vegas/vegas.css")

    <style type="text/css">
        body {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 13px;
            color: #000;
            -ms-overflow-style: scrollbar;
        }
        
        #LoginPanel {
            padding: 30px 20px;
            width: 550px;
            margin: 90px auto auto auto;
            background: rgba(0,0,0,0.5);
            border-radius: 12px;
            font-weight: 700;
        }

        #LoginPanel .caption {
            width: 180px;
        }

            #LoginPanel .logo {
                margin: 0 auto 20px auto;
                width: 315px;
                height: 75px;
                background: url(https://s2kdesign.com/wp-content/uploads/2020/09/sociallogomenu_tiny.jpg) 0 0 no-repeat;
                background-size: contain;
                border-radius: 12px;
            }

        #LoginPanel h3 {
            font-size: 18px;
            font-weight: 700;
            margin: 16px 0 24px;
            color: #f5f27e;
            text-align: center;
            text-shadow: 0 1px 1px #333;
        }

        #LoginPanel .buttons {
            text-align: right;
            padding: 8px 0 4px 0;
            margin-right: 28px;
        }

        html[dir="rtl"] #LoginPanel .buttons {
            text-align: left;
            margin-left: 28px;
        }

        #LoginPanel .btn {
            padding: 8px 24px;
            font-weight: 700;
        }

        #LoginPanel .caption {
            color: #ececec;
            font-weight: 700;
            text-shadow: 0 1px 1px #333;
        }

        #LoginPanel .actions {
            padding-right: 28px;
        }

        #LoginPanel .actions a {
            color: #ececec;
            padding: 2px 2px 2px 2px;
            margin-top: 5px;
            display: block;
            float: right;
            clear: both;
            border-bottom: 1px dashed #999;
            text-shadow: 0 1px 1px #333;
        }

        html[dir="rtl"] #LoginPanel .actions a {
            margin-left: 35px;
            float: left;
        }

        #LoginPanel .actions a i {
            font-weight: 700;
            margin-right: 4px;
        }

        #LoginPanel .s-Form label.error {
            background-image: url(@Url.Content("~/Content/serenity/images/cross.png"));
            padding: 26px 0 0 22px;
        }

        #LoginPanel .s-Form label.error.checked {
            background-image: none;
        }

        #LoginPanel .s-Form .field {
            padding: 8px;
        }

        #LoginPanel .s-Form input {
            padding: 6px 10px;
            border: none;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
        }

        #LoginPanel .s-Form .caption {
            padding: 6px 10px;
            color: #fff;
        }

        html[dir="rtl"] #LoginPanel .s-Form .caption {
            padding: 6px 60px;
            color: #fff;
        }

        #LoginPanel a {
            color: aqua;
        }

        #LoginPanel .s-PropertyGrid .categories {
            height: auto;
        }

        #LoginPanel .flex-layout .s-PropertyGrid {
            display: block;
        }

        @@media(max-width: 550px), (max-height: 500px) {
            #LoginPanel {
                padding: 16px 4px 16px 4px;
                position: absolute;
                margin: 0;
                width: auto;
                top: 10px;
                left: 10px;
                right: 10px;
            }
        }
    </style>
}

@if (registrationDisabled)
{
    <style>
        #registration-link {
            display: none !important;
        }
    </style>
}

@if (DataMigrations.SkippedMigrations)
{
    <div class="alert alert-error alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Warning!</h4>
        OMP skipped running migrations to avoid modifying an arbitrary database.
        If you'd like to run migrations on this database, remove the safety check
        in SiteInitialization.RunMigrations method.
    </div>
}

@if (ViewData["Activated"] != null)
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i>@LocalText.Get("Dialogs.InformationTitle")</h4>
        @Texts.Forms.Membership.SignUp.ActivationCompleteMessage
    </div>
}

<div class="page-content">
    <div id="LoginPanel">

    </div>
</div>

<script type="text/javascript">

jQuery(function() {
    var loginPanel = new OMP.Membership.LoginPanel($('#LoginPanel')).init();

@if (ViewData["Activated"] != null)
{
    <text>
    $(function() {
        loginPanel.byId('Username').val(@Html.Raw(Serenity.JSON.Stringify(ViewData["Activated"])));
        loginPanel.byId('Password').focus();
    });
    </text>
}
});
</script>