@model OMP.Offers.Offers.OfferReportData
@using System.Linq;

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<style>
    .invoice .hr-category {
        width: 14cm;
        margin-left: 23px;
    }

    .invoice ul {
        margin: 0 0 5px 0;
    }

    .invoice .hr-category hr {
        margin: 0 0 30px 0;
    }
    .prices-info {
        margin-top: 100px;
    }
    .prices-info .total-prices {
        width: 50%;
        display: inline-block;
        margin-right: 10%
    }
        .prices-info .total-prices div:first-child {
            font-size: 11pt;
            background-color: #0094ff !important;
            text-align: center;
            padding: 5px;
            box-shadow: inset 0 0 10px white !important;
            margin-bottom: 5px;
            color: white !important;
        }
        .prices-info .total-prices div:last-child {
            padding: 5px;
            border: 2px groove #0094ff;
        }
    .prices-info .offer-info {
        display: inline-block;
        width: 39%;
    }
</style>

<section class="invoice">
    @foreach (var category in Model.OfferCategories)
    {
        <ul>
            <li style="color: @category.CategoryFontColorReport !important;">
                <span style="color: @category.CategoryFontColorReport !important;"> @category.CategoryNameReport </span>

                <ul>
                    @foreach (var task in Model.OfferCategoryTasks
                        .Where(octs => octs.OfferCategoryId == category.OfferCategoryId && octs.ParentOfferCategoryTaskId == null))
                    {

                        <li>
                            @task.Name

                            @foreach (var taskLevelTwo in Model.OfferCategoryTasks
                                .Where(octs => octs.ParentOfferCategoryTaskId != null &&
                                               octs.ParentOfferCategoryTaskId == task.OfferCategoryTaskId
                                ))
                            {
                                <ul>
                                    <li>
                                        @taskLevelTwo.Name

                                        <ul>
                                            @foreach (var taskLevelThree in Model.OfferCategoryTasks
                                                .Where(octs => octs.ParentOfferCategoryTaskId != null &&
                                                               octs.ParentOfferCategoryTaskId == taskLevelTwo.OfferCategoryTaskId
                                                ))
                                            {
                                                <li>
                                                    @taskLevelThree.Name

                                                    <ul>
                                                        @foreach (var taskLevelFour in Model.OfferCategoryTasks
                                                            .Where(octs => octs.ParentOfferCategoryTaskId != null &&
                                                                           octs.ParentOfferCategoryTaskId == taskLevelThree.OfferCategoryTaskId
                                                            ))
                                                        {
                                                            <li>
                                                                @taskLevelFour.Name

                                                            </li>

                                                        }
                                                    </ul>
                                                </li>

                                            }
                                        </ul>
                                    </li>
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </li>
        </ul>

        <div class="hr-category">
            <hr style="        border: 1px solid @category.CategoryFontColorReport !important;
        box-shadow: 1px 1px 4px @category.CategoryFontColorReport !important ;
" />
        </div>

    }
    
    
    <div class="prices-info">
        <div class="total-prices">
            <div>
                Total Price
            </div>
            <div>
                line 1 (2 hours) - 150 euro
                <br />
                line 1 (2 hours) - 150 euro
                <br />
                line 1 (2 hours) - 150 euro
                <br />
                line 1 (2 hours) - 150 euro
            </div>
        </div>
        <div class="offer-info">
            <div>
                @Model.Offer.AdditionalInfo
            </div>
        </div>
    </div>
</section>