@model OMP.Offers.Offers.OfferReportData
@using System.Linq;

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<section class="invoice">
    @foreach (var category in Model.OfferCategories)
    {
        <ul>
            <li>
                @category.CategoryNameReport
                
                <ul>
                    @foreach (var task in Model.OfferCategoryTasks
                        .Where(octs => octs.OfferCategoryId == category.OfferCategoryId && octs.ParentOfferCategoryTaskId == null))
                    {

                        <li>
                            @task.Name
                       
                        @foreach (var taskLevelTwo in Model.OfferCategoryTasks
                            .Where(octs => octs.ParentOfferCategoryTaskId != null &&
                                octs.ParentOfferCategoryTaskId == task.OfferCategoryTaskId 
                                           ))
                        {
                            <ul>
                                <li>
                                    @taskLevelTwo.Name
                                    
                                    <ul>
                                        @foreach (var taskLevelThree in Model.OfferCategoryTasks
                                           .Where(octs => octs.ParentOfferCategoryTaskId != null &&
                                                          octs.ParentOfferCategoryTaskId == taskLevelTwo.OfferCategoryTaskId
                                           ))
                                        {
                                            <li>
                                                @taskLevelThree.Name

                                                <ul>
                                                    @foreach (var taskLevelFour in Model.OfferCategoryTasks
                                                        .Where(octs => octs.ParentOfferCategoryTaskId != null &&
                                                                       octs.ParentOfferCategoryTaskId == taskLevelThree.OfferCategoryTaskId
                                                        ))
                                                    {
                                                        <li>
                                                            @taskLevelFour.Name

                                                        </li>

                                                    }
                                                </ul>
                                            </li>

                                        }
                                    </ul>
                                </li>
                            </ul>
                        }
                        </li>
                    }
                </ul>
            </li>
        </ul>
    }
</section>